// variables globales
//  colours
$mainBgColor: #0097B2 ;
$secondaryBgColor:#CB6CE6;

//fonts
$mainFont:'Chilanka', cursive;
$textFont: 'Roboto', sans-serif; 

//Sizing
$texthSm: 1em;
$textMd: 2em;
$textLg: 3em;

//fontwight

$fontBold:600;
$fontlight:100;
$fontRegular: 400;